<div class="overall">
  <div id="wrapper">
    <app-navbar></app-navbar>
    <div id="sidebar">
      <div class="sidebar-header">
        MENU
      </div>
      <!-- Sidebar Links -->
      <ul class="list-unstyled components">
        <li>
          <div class="back-fill black">
            <a routerLink="home">HOME</a>
          </div>
        </li>
        <li>
          <div class="back-fill black">
            <a routerLink="menu">MENU</a>
          </div>
        </li>
        <li>
          <div class="back-fill black">
            <a routerLink="about">ABOUT</a>
          </div>
        </li>
        <li>
          <div class="back-fill black">
            <a routerLink="contact">CONTACT</a>
          </div>
        </li>
      
      <li>
        <div class="back-fill black">
          <a routerLink="login">LOGIN</a>
        </div>
      </li>
    </ul>
      
      <!-- <ul class="list-unstyled CTAs">
    
      </ul> -->
      <div class="contact">
        
        <a target="_blank" href="#" class="social">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="#" class="social">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="hours-container">
        <span class="hours">MONDAY-FRIDAY: 10:00AM - 11:00PM</span>
        <span class="hours">SATURDAY: 10:00AM - 8:00PM</span>
        <span class="hours">SUNDAY: 11:00AM - 6:00PM</span>
      </div>
      
    </div>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
